<div class="portfolio_card">
    <div class="portfolio_container container">
        <div class="portfolio_content grid">
            <img src="{{ item.image }}" alt="{{ item.title }}" class="portfolio_img">
            <div class="portfolio_data">
                <h3 class="portfolio_title">{{ item.title }}</h3>
                <p class="portfolio_description">{{ item.description }}</p>
                <button class="btn">
                    <a href="{{ item.link }}" target="_blank" class="button button_flex">See more...</a>
                </button>
            </div>
        </div>
    </div>
</div>

