<div class="portfolio_card">
    <div class="portfolio_container container">
        <div class="portfolio_content grid">
            <img src="{{ event.image }}" alt="{{ event.title }}" class="portfolio_img">
            <div class="portfolio_data">
                <h3 class="portfolio_title">{{ event.title }}</h3>
                <p class="portfolio_description">{{ event.description }}</p>
                <button class="btn">
                    <a href="{{ event.link }}" target="_blank">Learn more</a>
                </button>
            </div>
        </div>
    </div>
</div>

