<div class="portfolio_card">
    <div class="portfolio_container container">
        <div class="portfolio_content grid">
            <img src="{{ talk.image }}" alt="{{ talk.title }}" class="portfolio_img">
            <div class="portfolio_data">
                <h3 class="portfolio_title">{{ talk.title }}</h3>
                <p class="portfolio_description">{{ talk.description }}</p>
                <button class="btn">
                    <a href="{{ talk.link }}" target="_blank">Learn more</a>
                </button>
            </div>
        </div>
    </div>
</div>
