---
---
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="google-site-verification" content="1dAqFck3BIBxCx-EyBbHy1HkoFnptYfP04TgKOJiYO8" />
        <title>{{ page.title }} | {{ site.title }}</title>


        <link rel="stylesheet" type="text/css" href="assets/css/style.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps:wght@700&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap" rel="stylesheet">

        <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
        {% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
        <link rel="stylesheet" href="https://cdn.rawgit.com/jpswalsh/academicons/master/css/academicons.min.css">
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.8/css/dataTables.bulma.min.css">
        <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.5.0/css/responsive.dataTables.min.css">
        <link rel="stylesheet" href="https://cdn.datatables.net/searchbuilder/1.6.0/css/searchBuilder.dataTables.min.css">
        <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css">

        <!-- website bioschema -->
        <script type='application/ld+json'> 
            {
                "@context": "http://www.schema.org",
                "@type": "person",
                "name": "Deborah Udoh",
                "gender": "Female",
                "jobTitle": "Web Developer",
                "url": "https://npdebs.github.io/Portfolio-Website/",
                "address": {
                "@type": "PostalAddress",
                "streetAddress": "12 Amadi street, Oroworukwo",
                "addressLocality": "Port Harcourt",
                "addressRegion": "Rivers",
                "postalCode": "500272",
                "addressCountry": "Nigeria"
                },
                "email": "deborahudoh02@gmail.com",
                "affiliation": "University of Port Harcourt",
                "image":"https://npdebs.github.io/Portfolio-Website/images/debs-in-green.jpg"
            }
        </script>
            <title>Debs' Portfolio Website</title>
        
    </head>

    <body>
        {{ content }}

        <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
        
        <script src="assets/js/index.js"></script>

        {% if page.layout == 'posts' %}
          <script src="/js/posts.js"></script>
        {% endif %}
    </body>
</html>