<footer>
    <p>Deborah Udoh</p>
    <p id="info">To know more about me, click on the links below to explore my socials:</p>
    <div class="social">
        <a href="https://github.com/NPDebs"><i class="fa-brands fa-github"></i></a></div>
        <a href="https://www.linkedin.com/in/deborah-udoh-b0a720188"><i class="fa-brands fa-linkedin"></i></a>
        <a href="https://twitter.com/DeborahUdoh3"><i class="fa-brands fa-twitter"></i></a>
        <a href="https://www.facebook.com/deborah.udoh.18"><i class="fa-brands fa-facebook"></i></a>
        <a href="https://instagram.com/deborahudoh02"><i class="fa-brands fa-instagram"></i></a>

    <p id="bottom">Copyright &copy; 2024 NPDEBS</p>
</footer>